---
layout: layouts/main.njk
---
<h1>About</h1>    
<div class="grid">
    <div class="blurb">
        <p>Northern Naarm indie rock band making music at the bottom of the world. One song a month, every month.</p>
        <p>Field Monuments is singer/songwriter Ben Keenan, guitarist Ryan Egan, drummer Ben Tollady and bass player Marcus Teague.</p>
        <p>Mining memories, and penning perennial tunes at a time when a warm dose of heartfelt old-school indie rock fixes everything.</p>    
    </div>
    <div class="band-pic">
        <img src="/img/band-pic.jpg"></img> 
    </div>
</div>