<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<script src="https://kit.fontawesome.com/736160f321.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/fm.css">
	</head>
	<body class="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
		<a href="#main-content" class="skip-link">Skip to main content</a>
		<header>
			<div class="wrapper">
				<nav class="navbar main">
					<div class="nav-group">
						<div class="logo">
							<a href="/">Field Monuments</a>
						</div>
						<ul class="nav-links">
							{%- for entry in collections.all | eleventyNavigation %}
							<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
							{%- endfor %}
						</ul>
					</div>
					<div class="social-icons">
						<ul>
							<li class="nav-item"><a href="https://open.spotify.com/artist/70iNqhwDtcIf5ITwPWN7JQ?si=YBWQTucgTJK7mRmXnL1lUw"><i class="fa-brands fa-spotify">Spotify</i></a>
							<li class="nav-item"><a href="https://music.apple.com/au/artist/field-monuments/1675214482"><i class="fa-brands fa-apple">Apple Music</i></a>
							<li class="nav-item"><a href="https://www.instagram.com/fieldmonuments/"><i class="fa-brands fa-instagram">Instagram</i></a>
							<li class="nav-item"><a href="https://www.youtube.com/@fieldmonuments"><i class="fa-brands fa-youtube">Youtube</i></a>
							<li class="nav-item"><a href="https://fieldmonuments.bandcamp.com/"><i class="fa-brands fa-bandcamp">Bandcamp</i></a>
						</ul>
					</div>
					<button class="mobile-nav-button" data-a11y-dialog-show="mobile-nav" onclick="toggle('mobile-nav')">Menu</button>
				</nav>
				<div class="mobile-nav" id="mobile-nav" style="display: none;">
					<ul class="mobile-nav-links">
						{%- for entry in collections.all | eleventyNavigation %}
							<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
						{%- endfor %}
					</ul>
					<ul class="mobile-social-icons">
						<li class="nav-item"><a href="https://open.spotify.com/artist/70iNqhwDtcIf5ITwPWN7JQ?si=YBWQTucgTJK7mRmXnL1lUw"><i class="fa-brands fa-spotify">Spotify</i></a>
						<li class="nav-item"><a href="https://music.apple.com/au/artist/field-monuments/1675214482"><i class="fa-brands fa-apple">Apple Music</i></a>
						<li class="nav-item"><a href="https://www.instagram.com/fieldmonuments/"><i class="fa-brands fa-instagram">Instagram</i></a>
						<li class="nav-item"><a href="https://www.youtube.com/@fieldmonuments"><i class="fa-brands fa-youtube">Youtube</i></a>
						<li class="nav-item"><a href="https://fieldmonuments.bandcamp.com/"><i class="fa-brands fa-bandcamp">Bandcamp</i></a>
					</ul>
				</div>
			</div>
		</header>

		<main tabindex="-1" id="main-content">
			{{ content | safe }}
		</main>

		<footer>
			<div class="wrapper grid">
				<div class="copyright">&copy; Copyright Warm Cola Recordings 2024</div>
				<div class="links">
					<nav>
						<ul role="list">
							<li class="nav-item"><a href="https://open.spotify.com/artist/70iNqhwDtcIf5ITwPWN7JQ?si=YBWQTucgTJK7mRmXnL1lUw"><i class="fa-brands fa-spotify">Spotify</i></a>
							<li class="nav-item"><a href="https://music.apple.com/au/artist/field-monuments/1675214482"><i class="fa-brands fa-apple">Apple Music</i></a>
							<li class="nav-item"><a href="https://www.instagram.com/fieldmonuments/"><i class="fa-brands fa-instagram">Instagram</i></a>
							<li class="nav-item"><a href="https://www.youtube.com/@fieldmonuments"><i class="fa-brands fa-youtube">Youtube</i></a>
							<li class="nav-item"><a href="https://fieldmonuments.bandcamp.com/"><i class="fa-brands fa-bandcamp">Bandcamp</i></a>
						</ul>
					</nav>
				</div>
			</div>
		</footer>
		
		<script src="/js/scripts.js"></script>
	</body>
</html>
