---
layout: layouts/base.njk
---
{% include "home-pic.njk" %}

<section>
    <div class="wrapper">
        <h1>Northern Naarm indie rock band making music at the bottom of the world.</h1>    
    </div>
</section>

<section>
    <div class="wrapper grid">
        <div class="release-block">
            <h2>Latest release</h2>
            {% for post in collections.musicreleases | reverse %}
                {% if loop.index0 < 1 %}
                    {{ post.content | safe }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="gigs-block">
            <h2>Upcoming gigs</h2>
            {# <img class="margin" src="img/old-bar-gig-poster.jpg"></img>  #}
            <p>Saturday 9th November 2024 - The Old Bar, Fitzroy<br />
            <a href="https://www.theoldbar.com.au/gigs/house-of-light-sbahn-winternationale-field-monument">Details and tickets</a></p>
        </div>
        <div class="news-block">
            <h2>Latest news</h2>
            {{ content | safe }}
        </div>
    </div>
</section>
