---
layout: layouts/base.njk
---
<section>
    <div class="wrapper">
		
		<h1>{{ title }}</h1>

		<div class="post-metadata">
			<p><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<p><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</p>
			{%- endfor %}
		</div>

		{{ content | safe }}

		{%- if collections.posts %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem %}
		{%- set nextPost = collections.posts | getNextCollectionItem %}
		{%- if nextPost or previousPost %}
		<div class="links-nextprev">
			{%- if previousPost %}<p>Previous article: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
			{%- if nextPost %}<p>Next article: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
		</div>
		{%- endif %}
		{%- endif %}

	</div>
</section>